{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2>Website Dashboard</h2>

    <a href="/add" class="btn btn-primary">
        + Add Website
    </a>

</div>

<table class="table table-bordered table-hover align-middle">

<thead class="table-dark">

<tr>

<th>Name</th>

<th>URL</th>

<th>Status</th>

<th>HTTP</th>

<th>Response</th>

<th>Last Checked</th>

<th>Actions</th>

</tr>

</thead>

<tbody>

{% for monitor in monitors %}

{% set check = latest_checks.get(monitor.id) %}

<tr>

<td>{{ monitor.name }}</td>

<td>

<a href="{{ monitor.url }}" target="_blank">

{{ monitor.url }}

</a>

</td>

<td>

{% if check %}

    {% if check.is_up %}

        <span class="badge bg-success">

        UP

        </span>

    {% else %}

        <span class="badge bg-danger">

        DOWN

        </span>

    {% endif %}

{% else %}

<span class="badge bg-secondary">

Never Checked

</span>

{% endif %}

</td>

<td>

{% if check %}

{{ check.status_code or "-" }}

{% else %}

-

{% endif %}

</td>

<td>

{% if check %}

{{ check.response_time }} sec

{% else %}

-

{% endif %}

</td>

<td>

{% if check %}

{{ check.checked_at.strftime("%d %b %H:%M:%S") }}

{% else %}

-

{% endif %}

</td>

<td>

<a class="btn btn-success btn-sm"

href="/check/{{ monitor.id }}">

Check

</a>

<a class="btn btn-danger btn-sm"

href="/delete/{{ monitor.id }}">

Delete

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}